.loginPage {
  display: flex;
  justify-content: space-evenly ;
}
.container {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
body {
  margin: none;
  background-color: ghostwhite;
}
.verticalAlign {
  display: flex;
  flex-direction: column;
}
.loginAndRegisterButtonMargin {
  margin: 10px
}
.loginHeading {
  border: 2px solid gray;
  margin-inline: 30%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: 5px solid;
    border-image: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    ) 1;
    background-color: black; /* Optional: To highlight the text */
    text-align: center;
    border-radius: 10px; /* Optional: Rounded corners */
  }
 .register:hover {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
  }
  .login:hover{
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
  }
  .register.login {
    padding: 10px;
  }
